
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplico la fuente que baje de Google Fonts*/
body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    margin: 10px;
    border: 2px solid;
}

header {
    display: flex;
    width: 90%;
    justify-content: space-between; 
    align-items: center; 
    background-color: #f0f0f0;
    margin:10px; 
}



.nombreEmpresa h2 {
    margin: 0; 
}

nav ul {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar padding predeterminado de la lista */
    display: flex; /* Utilizar flexbox para los elementos de la lista */
    justify-content: right;
}

/* Estilos cuando el mouse pasa sobre el elemento */
    nav ul li:hover {
         border-radius: 05px;
         background-color: rgba(230, 233, 232, 0.521); /* Color de fondo al pasar el mouse */
         cursor: pointer; /* Cambia el cursor a una mano */
         color: #f0f0f0; /* Color del texto al pasar el mouse */
}

nav li {
    margin-right: 20px; /* Espaciado entre elementos de la lista */
}

nav a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: #080808; /* Color del texto del enlace */
    font-size: 1rem;
}

footer {
    display: flex;; /* Alinear elementos a los extremos */
    align-items: center; /* Alinear elementos verticalmente al centro */
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0; /* Color de fondo del footer */
    color: #3a3939; /* Color de texto blanco */
}

.derechos-reservados {
    /* Estilos específicos para "Derechos Reservados" */
    margin-right:10px;
}

.redes {
    display: flex;
    gap: 10px; 
}

.redes img {
    /* Estilos específicos para las imágenes de las redes sociales */
    width: 30px; /* Ajusta el ancho según tus necesidades */
    height: 30px; /* Ajusta la altura según tus necesidades */
}



.contenedor_index_ad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "info info ad"
        "info info ad"
        "info info ad"
        "info info ad";
    padding: 20px; /* Añadir un relleno al contenedor principal */
    background-color: #f2f2f2; /* Agregar un color de fondo */
}
  
  .info { 
    grid-area: info; }
  
  .ad {
     grid-area: ad; 
    }

    .info {
        grid-area: info;
        padding: 20px;
        background-color: #ffffff; /* Color de fondo blanco */
        border-radius: 8px; /* Esquinas redondeadas */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }

    article {
        height: 90%; 
        margin: 10px;
        padding: 20px;
        border-radius: 8px; 
        background-color: #fff; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
    .ad {
        padding: 20px;
        background-color: #ffffff; 
        border-radius: 8px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    }
    
     .ad-1,.ad-2{
        margin-bottom: 10px; /* Espaciado inferior entre las divisiones de la publicidad */
        width:90%;
        height:45%;
        border: 1px solid rgb(56, 56, 56);
        border-radius: 10px;
        text-align: center;
        align-self: center;/* Justificar el contenido a lo ancho*/
        align-items: center;
        font-weight: bold;
    }




.seccion_imagenes,
.seccion_videos,
.seccion_mapas {
    border: 1px solid rgb(56, 56, 56);
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.seccion_videos{
    display: flex;
    flex-direction: row;   
}

.mapa{
    width: 100%;
}

.video1, .video2 {
    flex-grow: 1;
    margin: 0 5px;
  }

.tituloTarjetaIndex{
    text-align: center;
}

.imagenIndex{
    width: 300px;
    height:300px;
}

.formulario{
    width: auto;
}

.formulario {
    width: auto;
  /* Borde más marcado */

}

.form-control {
    font-weight: bold;  /* Texto más negrita */
}

